.registration-index
  = render "header"
  .registration-container
    .registration-container__main
      .registration-container__main__header
        %h2.registration-container__main__header__text
          新規会員登録
      .registration-container__main__content
        .registration-container__main__content__btn-box
          = link_to step1_signup_index_path, class: 'sign_up_mail-adress' do
            = fa_icon 'envelope-o', class: 'mail_icon'
            メールアドレスで登録する
          = link_to user_facebook_omniauth_authorize_path do
            %button.sign_up_Facebook
              = fa_icon 'facebook-square', class: 'facebook_icon'
              Facebookで登録する
          = link_to user_google_oauth2_omniauth_authorize_path do
            %button.sign_up_Google
              Googleで登録する

  = render "footer"
