.registration_container
  = render 'devise/registrations/progress_header'
  .registration_container__main
    %section.registration_container__main__contents
      .registration_container__main__contents__head
        %h2 住所入力
      -# form_with...仮置きのためテーブル完成により要変更
      = form_with model: @address, url: step4_signup_index_path, method: :get, id: 'new_user', class: 'new_user', local: true do |f|
        .fields
          .field
            = f.label :postal_code, '郵便番号'
            %span.must 必須
            %br/
            = f.text_field :postal_code,  placeholder: '例) 123-4567', class: 'input-default'
          .field
            = f.label :prefecture_id, '都道府県'
            %span.must 必須
            %br/
            = f.collection_select :prefecture_id, Prefecture.where.not(id: 0), :name, :name
          .field
            = f.label :city, '市区町村'
            %span.must 必須
            %br/
            = f.text_field :city, autofocus: true, autocomplete: "nickname", placeholder: '例) 横浜市緑区', class: 'input-default'
          .field
            = f.label :house_number, '番地'
            %span.must 必須
            %br/
            = f.text_field :house_number, autofocus: true, autocomplete: "nickname", placeholder: '例) 青山1-1-1', class: 'input-default'
          .field
            = f.label :building_name, '建物名'
            %span.free 任意
            %br/
            = f.text_field :building_name, autofocus: true, autocomplete: "nickname", placeholder: '例) 柳ビル103', class: 'input-default'
          .field
            = f.label :phone_number, '電話'
            %span.free 任意
            %br/
            = f.text_field :phone_number, autofocus: true, autocomplete: "nickname", placeholder: '例) 09012345678', class: 'input-default'
          .actions
            = f.submit "次へ進む", class: 'next-btn', value: '次へ進む'
  = render 'devise/registrations/footer'
:css
  li.three{
    color: #ea352d !important;
    font-weight: 600 !important;
  }
  .first,.second,.third{
    background: #ea352d !important;
  }
  .first::after, .second::before, .second::after, .third::before{
    background: #ea352d !important;
  }
