.registration-index
  = render 'devise/registrations/progress_header'
.confirm-phone-wrap
  .confirm-phone-contents
    .confirm-phone-upper.bold 電話番号の確認
    = form_with model: @profile, url: step3_signup_index_path, method: :get, class:"confirm-phone-lower",local: true do |f|
      .confirm-phone-main
        .phone-form-box
          .phone-label.bold
            携帯電話の番号
        = f.text_field :phone, class:"phone-form", placeholder: "携帯電話の番号を入力"  
        .confirm-text 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        = f.submit "次へ進む", class: 'btn-default btn-red', value: '次へ進む'
        .confirm-text ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .confirm-text-right
          = link_to mypages_path, class:"confirm-text-right" do
            電話番号の確認が必要な理由
            = fa_icon 'chevron-right', class: 'icon'
= render "devise/registrations/footer"

:css
  li.two{
    color: #ea352d !important;
    font-weight: 600 !important;
  }
  .first,.second{
    background: #ea352d !important;
  }
  .first::after, .second::before{
    background: #ea352d !important;
  }