= render 'items/shared/loginheader'
- breadcrumb :mypages_bought
= render "mypages/breadcrumbs-header"

.my-contents.clearfix
  = render 'sidebar'
  .mypage-content
    %section.mypage-below-tab-contents
      %h2.bold.mypage-below-tab-head 購入した商品
      %ul.bold.mypage-tabs
        %li.mypage-tabs__left
          出品中
        %li.mypage-tabs__right
          過去の取引
      .tab-content
        - if current_user.buyed_items.length != 0
          %ul#mypage-tab-content
            - current_user.buyed_items.each do |item|
              = link_to item_path(item) do
                %li.mypage-content-item
                  = item.name
                  %i.icon-arrow-right
                    = fa_icon 'chevron-right'
        - else
          .mypage-content-not-found.bold 過去に取引した商品がありません
= render "items/shared/sellbtn"
= render 'items/shared/footer'

:css
  .header{
    box-shadow: none;
  }

  .mypage-tabs__right {
    background: #fff;
  }