= render 'items/shared/loginheader'
- breadcrumb :mypage_destroy
= render "mypages/breadcrumbs-header"
.my-contents.clearfix
  = render 'sidebar'
  .logout-content
    .logout-box
      = link_to destroy_user_session_path do
        .logout-btn.btn-red
          ログアウト
= render "items/shared/sellbtn"
= render 'items/shared/footer'

:css
  .header{
    box-shadow: none;
  }