= render 'items/shared/loginheader'
- breadcrumb :items_detail
= render 'mypages/breadcrumbs-header'

.main-content.clearfix
  %section.show-item-box
    %h1.show-item-box-name.bold.text-center
      = @item.name
    .show-item-content.clearfix
      .item-photo
        = image_tag (@item.photos.first.image), size: 300, class: 'item-photo__main'

        .item-photo-box
          - @item.photos.each do |photo|
            = image_tag (photo.image), size: 60, class: 'item-photo-box__sub'

      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "https://www.mercari.com/jp/u/445135287/" do
                = @saler.nickname
          %tr
            %th カテゴリー
            %td
              = link_to "https://www.mercari.com/jp/category/1/" do
                %div レディース
              = link_to "https://www.mercari.com/jp/category/20/" do
                .item-detail-table-sub-category
                  %i.icon-arrow-right
                  = fa_icon 'chevron-right'
                  バッグ
              = link_to "https://www.mercari.com/jp/category/214/" do
                .item-detail-table-sub-sub-category
                  %i.icon-arrow-right
                  = fa_icon 'chevron-right'
                  ショルダーバッグ
          %tr
            %th ブランド
            %td
              = link_to "https://www.mercari.com/jp/brand/539/" do
                %div
                  コーチ
          %tr
            %th 商品の状態
            %td 
              = @item.state
          %tr
            %th 配送料の負担
            %td 
              = @item.carriage
          %tr
            %th 配送の方法
            %td
              = @item.method
          %tr
            %th 配送元地域
            %td
              = link_to "https://www.mercari.com/jp/area/23/" do
                = @item.region
          %tr
            %th 発送日の目安
            %td 
              = @item.date

    .item-price-box.text-center
      %span.item-price.bold
        ¥
        = @item.price
      %span.item-tax
        (税込)
      %span.item-fee
        送料込み
    .item-description
      %p.item-description__inner
        = @item.description 
  .items_btn-box
    = link_to '商品の編集', root_path, class: 'edit_btn'
    %p.or
      or
    %button.hide_item 出品を一旦停止する
    = link_to 'この商品を削除する', "/items/#{@item.saler_id}", method: :delete, class:"destroy_item" 

  .item-comment-box
    .item-comment-contents
      %ul.item-comment-content
        - @comments.each_with_index do |comment, i|
          - if i == 0
            %li.clearfix
              .comment-user
                %figure
                  .comment-user-icon
                    = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?465897195', size: 32
                  %figcaption.bold
                    = comment.user.nickname
              .comment-body
                .comment-body__text
                  = comment.text
                .comment-icons.clearfix
                  %time.comment-icon-left
                    %i.icon-time
                      = fa_icon "clock-o"
                    %span
                      50日前
                  .comment-icon-right
                    - if user_signed_in?
                      - if comment.user_id == current_user.id
                        = link_to  item_comment_path(item_id: @item, id: comment), method: :delete do
                          %i.icon-trash
                            = fa_icon "trash"
          - else
            %li.first.clearfix
              .comment-user
                %figure
                  .comment-user-icon
                    = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?465897195', size: 32
                  %figcaption.bold
                    = comment.user.nickname
              .comment-body
                .comment-body__text
                  = comment.text
                .comment-icons.clearfix
                  %time.comment-icon-left
                    %i.icon-time
                      = fa_icon "clock-o"
                  .comment-icon-right
                    - if user_signed_in?
                      - if comment.user_id == current_user.id 
                        = link_to  item_comment_path(item_id: @item.id, id: comment.id), method: :delete do
                          %i.icon-trash
                            = fa_icon "trash"
                  %span
                    50日前

    .item-comment-contents
      .comment-description.id
        %p
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = form_with model: [@item, @comment], class: "comment-form" do |f|
        = f.text_field :text, class: "textarea-default"
        = f.submit "コメントする", class: "comment-submit btn-default btn-gray"       

= render 'items/shared/footer'

:css
  .header{
    box-shadow: none;
  }