.registration-index
  = render 'devise/registrations/header'
  
  = form_with model: @items, class: "a-container" ,local: true do |f|
    .a-container__main
      .a-container__main__header
        .a-container__main__header__text 商品の情報を入力
      .a-container__main__picturebox
        %label.label 出品画像
        %span.required 必須
        .text 最大10枚までアップロードできます
        .a-container__main__picuturebox__drop
        = f.fields_for :photos do |i|
          = i.file_field :image, class:".a-container__main__picturebox__drop__input"
        -# .preview
        
      .a-container__main__name
        %label.label 商品名
        %span.required 必須
        = f.text_field :name, class: "name-input", placeholder: "商品名(必須：40文字まで)"
        .a-container__main__name__details
          %label.label 商品の説明
          %span.required 必須
          = f.text_area :description, class: "details-input", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .a-container__main__details
        %h3.a-container__main__details__text 商品の詳細
        .a-container__main__details__box
          .a-container__main__details__box__upper
            %label.label カテゴリー
            %span.required 必須
            = f.collection_select :category_id, Category.all,:id , :name, {include_blank: true }, class: "a-container__main__details__box__upper__category"
            -# %select.a-container__main__details__box__upper__category
            -#   %option{value: ""} ---
            -#   %option{value: "1"} レディース
            -#   %option{value: "2"} メンズ
            -#   %option{value: "3"} ベビー・キッズ
            -#   %option{value: "4"} インテリア・住まい・小物
            -#   %option{value: "5"} 本・音楽・ゲーム
            -#   %option{value: "1328"} おもちゃ・ホビー・グッズ
            -#   %option{value: "6"} コスメ・香水・美容
            -#   %option{value: "7"} 家電・スマホ・カメラ
            -#   %option{value: "8"} スポーツ・レジャー
            -#   %option{value: "9"} ハンドメイド
            -#   %option{value: "1027"} チケット
            -#   %option{value: "1318"} 自動車・オートバイ
            -#   %option{value: "10"} その他
          .a-container__main__details__box__bottom
            %label.label 商品の状態
            %span.required 必須
            = f.select :state, [['新品未使用'], ['未使用に近い'],['目立った傷や汚れなし'],['やや傷や汚れあり'],['傷や汚れあり'],['全体的に状態が悪い']], {include_blank: true }, class: "a-container__main__details__box__bottom__status"

      .a-container__main__delivery
        .a-container__main__delivery__text
          配送について
          =link_to root_path do
            = fa_icon 'question-circle', class: 'question'
        .a-container__main__delivery__box
          .a-container__main__delivery__box__upper
            %label.label 配送料の負担
            %span.required 必須
          = f.select :carriage, [['送料込み(出品者負担)'], ['着払い(購入者負担)']], {include_blank: true }, class: "a-container__main__delivery__box__upper__select"

          .a-container__main__delivery__box__add-for-fix
            %label.label 配送の方法
            %span.required 必須
          = f.select :method, [['未定'], ['らくらくメルカリ便'],['ゆうメール'],['レターパック'],['普通郵便（定形、定形外）'],['クロネコヤマト'],['ゆうパック'],['クリックポスト'],['ゆうパケット']], {include_blank: true }, class: "a-container__main__delivery__box__upper__select"
              
          .a-container__main__delivery__box__middle
            %label.label 発送元の地域
            %span.required 必須
            = f.collection_select :region, Prefecture.all, :name, :name, {include_blank: true }, class: "a-container__main__delivery__box__middle__select"
          
          .a-container__main__delivery__box__bottom
            %label.label 発送元までの日数
            %span.required 必須
          =f.select :date, [['1~2日で発送'], ['2~3日で発送'], ['4~7日で発送']], {include_blank: true }, class: "a-container__main__delivery__box__bottom__select"

      .a-container__main__price
        .a-container__main__price__text
          販売価格(¥300~9,999,999)
          =link_to root_path do
            = fa_icon 'question-circle', class: 'question'

        .a-container__main__price__box
          %ul.a-container__main__price__box__upper
            %li.a-container__main__price__box__upper__list
              .a-container__main__price__box__upper__list__left
                %label.label 価格
                %span.required 必須
              .a-container__main__price__box__upper__list__right 
                ¥
              = f.number_field :price, class: 'price-input', placeholder: '例) 300'
            %li.a-container__main__price__box__upper__list
              .a-container__main__price__box__upper__list__text
                販売手数料(10%)
              .a-container__main__price__box__upper__list__hyphen
              
            .a-container__main__price__box__upper__list__last
              .a-container__main__price__box__upper__list__last__benefit
                販売利益
              .a-container__main__price__box__upper__list__last__hyphen

      .a-container__main__submit
        = link_to "禁止されている出品", "", class: "link-color"
        、
        = link_to "行為", "", class: "link-color"
        を必ずご確認ください。
        %br
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        = link_to "偽ブランドの販売","", class: "link-color"
        は犯罪で
        %br
        あり処罰される可能性があります。
        %br
        また、出品をもちまして
        = link_to "加盟店規約","", class: "link-color"
        に同意したことになります。
        = f.submit "出品する", class:'a-container__main__submit__next'

        = link_to "もどる", "", class:'a-container__main__submit__back'
      
  = render 'devise/registrations/footer'

