= render 'items/shared/header'

%section.show-item-box
  %h1.show-item-box-name.bold.text-center
    = @item.name
  .show-item-content.clearfix
    .item-photo
      = image_tag (@photos.first.image), size: 300, class: 'item-photo__main'

      .item-photo-box
        - @photos.each do |photo|
          = image_tag (photo.image), size: 60, class: 'item-photo-box__sub'

    %table.item-detail-table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to "https://www.mercari.com/jp/u/445135287/" do
              = @saler.nickname
            %div
              .item-user-ratings
                %i.icon-good
                %span 0
              .item-user-ratings
                %i.icon-normal
                %span 0
              .item-user-ratings
                %i.icon-bad
                %span 0
        %tr
          %th カテゴリー
          %td
            = link_to "https://www.mercari.com/jp/category/1/" do
              %div レディース
            = link_to "https://www.mercari.com/jp/category/20/" do
              .item-detail-table-sub-category
                %i.icon-arrow-right
                = fa_icon 'chevron-right'
                バッグ
            = link_to "https://www.mercari.com/jp/category/214/" do
              .item-detail-table-sub-sub-category
                %i.icon-arrow-right
                = fa_icon 'chevron-right'
                ショルダーバッグ
        %tr
          %th ブランド
          %td
            = link_to "https://www.mercari.com/jp/brand/539/" do
              %div
                コーチ
        %tr
          %th 商品の状態
          %td 
            = @item.state
        %tr
          %th 配送料の負担
          %td 
            = @item.carriage
        %tr
          %th 配送の方法
          %td
            = @item.method
        %tr
          %th 配送元地域
          %td
            = link_to "https://www.mercari.com/jp/area/23/" do
              = @item.region
        %tr
          %th 発送日の目安
          %td 
            = @item.date

  .item-price-box.text-center
    %span.item-price.bold
      ¥
      = @item.price
    %span.item-tax
      (税込)
    %span.item-fee
      送料込み
  = link_to '', class: 'item-buy-btn' do
    購入画面に進む
  .item-description
    %p.item-description__inner
      = @item.description 
  .item-btn-box.clearfix
    .item-btn-left
      %button.item-btn.item-btn-like
        %i.icon-like-border
          = fa_icon "heart-o"
        %span
          いいね!
        %span
          28
      %button.item-btn.item-btn-report.clearfix
        %i.icon-frag
          = fa_icon "flag-o"
        %span
          不適切な商品の報告
    .item-btn-right
      = link_to "", target: "_blank" do
        %i.icon-lock
          = fa_icon "lock"
        %span.f14
          あんしん・あんぜんへの取り組み
.item-comment-box
  .item-comment-contents
    %ul.item-comment-content
      - @comments.each_with_index do |comment, i|
        - if i == 0
          %li.clearfix
            .comment-user
              %figure
                .comment-user-icon
                  = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?465897195', size: 32
                %figcaption.bold
                  = comment.user.nickname
            .comment-body
              .comment-body__text
                = comment.text
              .comment-icons.clearfix
                %time.comment-icon-left
                  %i.icon-time
                    = fa_icon "clock-o"
                  %span
                    50日前
                .comment-icon-right
                  - if comment.user_id == current_user.id
                    = link_to  item_comment_path(item_id: @item.id, id: comment.id), method: :delete do
                      %i.icon-trash
                        = fa_icon "trash"
        - else
          %li.first.clearfix
            .comment-user
              %figure
                .comment-user-icon
                  = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?465897195', size: 32
                %figcaption.bold
                  = comment.user.nickname
            .comment-body
              .comment-body__text
                = comment.text
              .comment-icons.clearfix
                %time.comment-icon-left
                  %i.icon-time
                    = fa_icon "clock-o"
                .comment-icon-right
                  - if comment.user_id == current_user.id 
                    = link_to  item_comment_path(item_id: @item.id, id: comment.id), method: :delete do
                      %i.icon-trash
                        = fa_icon "trash"
                %span
                  50日前

  .item-comment-contents
    .comment-description.id
      %p
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    = form_with model: [@item, @comment], class: "comment-form" do |f|
      = f.text_field :text, class: "textarea-default"
      = f.submit "コメントする", class: "comment-submit btn-default btn-gray"       
%ul.nav-item-link.clearfix
  %li.nav-item-link-prev
    =link_to "https://item.mercari.com/jp/m66652956667/" do
      %i.icon-arrow-left 
        = fa_icon "chevron-left"
      クリオ パレット コーラル
  %li.nav-item-link-next
    = link_to "https://item.mercari.com/jp/m47907573598/" do
      GU⭐️レディース ストラップサンダル/ピンヒール ゴールド Lサイズ
      %i.icon-arrow-right
        = fa_icon "chevron-right"
.item-social-media-box
  %ul.social-media-box
    %li
      = link_to "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm55995836649%2F"  do
        %i
          = fa_icon "facebook-square", class: "facebook-color"
    %li
      = link_to "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm55995836649%2F&text=%EF%BC%BB%E6%AD%A3%E8%A6%8F%E5%93%81%EF%BC%BDcoach%20%20%E3%83%9F%E2%80%A6%20%28%C2%A516%2C200%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm55995836649%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89" do
        %i
          = fa_icon "twitter-square"
    %li
      = link_to "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm55995836649%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm55995836649_1.jpg%3F1562888887&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20%EF%BC%BB%E6%AD%A3%E8%A6%8F%E5%93%81%EF%BC%BDcoach%20%20%E3%83%9F%E3%83%83%E3%82%AD%E3%83%BC%E3%83%9E%E3%82%A6%E3%82%B9%E3%82%B3%E3%83%A9%E3%83%9C%20%20%E3%82%B7%E3%83%A7%E3%83%AB%E3%83%80%E3%83%BC%E3%83%90%E3%83%83%E3%82%AF%20%20%E3%82%BF%E3%82%B0%E4%BB%98%E3%81%8D%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA" do
        %i
          = fa_icon "pinterest-square", class: "pinterest-color"
.items-container
  %section.items-box-container.clearfix
    %h2.items-box-head.item-box-users
      = link_to "https://www.mercari.com/jp/u/445135287/" do
        = @saler.nickname
        さんのその他の出品
    .items-box-content.clearfix
      - @saler_items.each do |item|
        %section.items-box
          = link_to item_path(item.id) do
            %figure.items-box-photo
              = image_tag (Photo.where(item_id: item.id).first.image), size: 220, class: "lazyloaded"
            .items-box-body
              %h3.items-box-name.font-2
                = item.name
              .items-box-num
                .items-box-price.font-5 
                  ¥
                  = item.price
                .font-2
                  %i.icon-like-border
                    = fa_icon "heart-o"
                  %span 0

.items-container
  %section.items-box-container.clearfix
    %h2.items-box-head.item-box-likes
      = link_to "https://www.mercari.com/jp/u/445135287/" do
        ポケモンのバッグ その他の商品
    .items-box-content.clearfix
      %section.items-box
        = link_to "https://item.mercari.com/jp/m93072137118/" do
          %figure.items-box-photo
            = image_tag 'https://static.mercdn.net/thumb/photos/m93072137118_1.jpg?1565166661', size: 220, class: "lazyloaded"
          .items-box-body
            %h3.items-box-name.font-2
              ［未使用品］ COACH ショルダーバッグ
            .items-box-num
              .items-box-price.font-5 
                ¥11,300
              .font-2
                %i.icon-like-border
                  = fa_icon "heart-o"
                %span 19
      %section.items-box
        = link_to "https://item.mercari.com/jp/m93072137118/" do
          %figure.items-box-photo
            = image_tag 'https://static.mercdn.net/thumb/photos/m93072137118_1.jpg?1565166661', size: 220, class: "lazyloaded"
          .items-box-body
            %h3.items-box-name.font-2
              ［未使用品］ COACH ショルダーバッグ
            .items-box-num
              .items-box-price.font-5 
                ¥11,300
              .font-2
                %i.icon-like-border
                  = fa_icon "heart-o"
                %span 19
      %section.items-box
        = link_to "https://item.mercari.com/jp/m93072137118/" do
          %figure.items-box-photo
            = image_tag 'https://static.mercdn.net/thumb/photos/m93072137118_1.jpg?1565166661', size: 220, class: "lazyloaded"
          .items-box-body
            %h3.items-box-name.font-2
              ［未使用品］ COACH ショルダーバッグ
            .items-box-num
              .items-box-price.font-5 
                ¥11,300
              .font-2
                %i.icon-like-border
                  = fa_icon "heart-o"
                %span 19
= render 'items/shared/footer'