= render 'items/shared/header'
- breadcrumb :category_show, @category
= render './mypages/breadcrumbs-header'

- if Category.roots.include?(@category)
  .center
    .center-category-show
      %ul.center-category__lower.clearfix
        - @children.each do |child|
          %li
            = link_to child.name, category_path(child), class: "link"

    .center-mid
      .center-mid-new
        %h3.center-mid-new__item 
          = @category.name
          の商品一覧
      
      .center-mid__contents-box
        %div
          %ul.center-mid__contents-box__list
            - @descendant_items.each do |item|
              %li.center-mid__contents-box__list__items
                = link_to item_path(item) do
                  %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                    .center-mid__contents-box__list__items__box
                      .center-mid__contents-box__list__items__box__picture
                        = image_tag (item.photos.first.image.to_s), size:  188
                      .center-mid__contents-box__list__items__box__text
                        = item.description
                      .center-mid__contents-box__list__items__box__price
                        ¥
                        = item.price

    = paginate @descendant_items

- else
  .center
    .center-category-show
      %ul.center-category__lower.clearfix
        - @children.each do |child|
          %li
            = link_to child.name, category_path(child), class: "link"

    .center-mid
      .center-mid-new
        %h3.center-mid-new__item 
          = @category.name
          の商品一覧
      
      .center-mid__contents-box
        %div
          %ul.center-mid__contents-box__list
            - @self_items.each do |item|
              %li.center-mid__contents-box__list__items
                = link_to item_path(item) do
                  %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                    .center-mid__contents-box__list__items__box
                      .center-mid__contents-box__list__items__box__picture
                        = image_tag (item.photos.first.image.to_s), size:  188
                      .center-mid__contents-box__list__items__box__text
                        = item.description
                      .center-mid__contents-box__list__items__box__price
                        ¥
                        = item.price

  = paginate @self_items
= render 'items/shared/footer'

:css
  .header {
    box-shadow: none;
  }